@import '../../constants/fonts.scss';
@import '../../constants/colors.scss';

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
    .menuItem {
        font-family: $font_spartan;
        font-weight: 600;
        margin-left: 100px;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .line {
            border-bottom: 2px solid $brand_yellow;
            width: 100%;
            top: 20px;
            position: absolute;
            animation: lineAnim .4s;
        }

        @media only screen and (max-width: 1024px) {
            margin-left: 60px;
        }

        @media only screen and (max-width: 768px) {
            margin-left: 20px;
        }
    }

    .logo {
        position: absolute;
        left: 10px;
        top: 0;
    }
}

@keyframes lineAnim {
    0% {
       left: -20px;
    }
    100% {
        left: 0;
    }
}