@import '../constants/fonts.scss';

//index.js
.mainContainer {
    height: calc(100vh - 30px);
    padding: 130px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    @media only screen and (max-width: 425px) {
        padding: 180px 20px 0px 20px;;
    }

.horizontalScroll {
    display: flex;
    flex-direction: row;
    width: 1238px;
    overflow-x: auto;
    justify-content: space-between;
}

.sectionTitle {
    margin-bottom: 15px;
}

.label {
    font-family: $font-spartan;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.atvList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

}

// Contacts.jsx
.container{
    height: 100vh;
    padding: 130px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

//Conditions.jsx
.condContainer {
    height: 100vh;
    overflow-y: scroll;
    padding: 130px 80px 0px 80px;
    font-family: $font-spartan;
    line-height: 1.5;
    .title {
        text-align: center;
    }
}